.App {
	text-align: center;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.App-logo {
	height: 80px;
}

input {
	border: 1px solid #1371DC;
}
.show-body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.App-header {
	background-color: #1371DC;
	height: 150px;
	padding: 0px;
	color: #222;
}

.App-title {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}

cite {
	font-weight: bold;
}
table {
	align-content: center;
	margin: auto;
}
td {
	padding: 10px;
}

.App-intro {
	font-size: large;
}
.cap-first-letter:first-letter {
	text-transform: capitalize;
}
.col-sm-6,
col-md-4 {
	border: 1px;
}

.hometext {
	max-width: 60%;
}
.showlink {
	padding: 0.4rem 0.8rem;
	background-color: white;
	border-radius: 3px;
	color: #1371DC;
	text-decoration: none !important;
	margin: 5px;
}

.showlink:hover {
	background-color: transparent;
	color: white;
	border: 2px solid white;
}

li {
	padding: 20px;
}

p {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div {
	text-align: center;
}

a {
	color: #1371DC;
	text-decoration: none !important;
}

ul a:hover {
	background-color: transparent;
	color: blue;
}

ul {
	list-style: none;
}

.title {
	font-weight: bold;
	color: #1371DC;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input {
		font-size: 16px;
	}
}

dt,
dl {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

dt {
	display: inline-block;
}

dd {
	display: inline;
	margin-left: 5px;
}

.navigation {
	background: #282c34;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation a:link,
.navigation a:visited {
	color: white;
	text-decoration: none;
}

.active {
	font-weight: bold;
  color: red !important;
  padding: 3px;
  margin: 5px;
}
.notactive{
  color: black !important;
  padding: 3px;
  margin: 5px;
}

.error {
	font-weight: bold;
	color: red !important;
}
.forgotPassword {
	background: none !important;
	border: none !important;
	text-decoration: underline;
	margin-left: 5px;
	color: #069;
}

.forgotPassword:hover {
	text-decoration: none;
	color: red;
}

.logoutbutton {
  font-size: .8em;
  color: black !important;
  font-family: 'Oswald', sans-serif;
	position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 1;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

/* Product Details */
.details {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 1rem;
  }
  .details-image {
	flex: 2 1 60rem;
  }
  .details-image img {
	max-width: 60rem;
	width: 100%;
  }
  .details-info {
	flex: 1 1 30rem;
  }
  .details-action {
	flex: 1 1 30rem;
  }
  
  .details-info ul,
  .details-action ul {
	list-style-type: none;
	padding: 0;
  }
  .details-info li,
  .details-action li {
	margin-bottom: 1rem;
  }
  .back-to-result {
	padding: 1rem;
  }
  .details-action {
	border: 0.1rem #808080 solid;
	border-radius: 0.5rem;
	background-color: #f8f8f8;
	padding: 1rem;
  }
  .details-action ul li:last-child {
	display: flex;
	flex-direction: column;
  }
  .button {
	padding: 1rem;
	border: 0.1rem #808080 solid;
	border-radius: 0.5rem;
	cursor: pointer;
  }
  .button:hover {
	border: 0.1rem #404040 solid;
  }
  .button.primary {
	background-color: #80e1ff;
  }
  .button.secondary {
	background-color: #f0f0f0;
  }
  .text-center {
	text-align: center;
  }

  /* Place Order */

.placeorder {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	justify-content: space-between;
  }
  .placeorder-info {
	flex: 3 1 60rem;
  }
  .placeorder-action {
	
	border: 0.1rem #c0c0c0 solid;
	border-radius: 0.5rem;
	background-color: #fcfcfc;
	padding: 1rem;
  }
  .placeorder-info > div {
	border: 0.1rem #c0c0c0 solid;
	border-radius: 0.5rem;
	background-color: #fcfcfc;
	padding: 1rem;
	margin: 1rem;
  }
  .placeorder-info > div:first-child {
	margin-top: 0;
  }
  .placeorder-action > ul {
	padding: 0;
	list-style-type: none;
  }
  .placeorder-action > ul > li {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
  }
  .placeorder-action > ul > li:last-child {
	font-size: 2rem;
	font-weight: bold;
	color: #0083c0;
  }
  .placeorder-actions-payment > div {
	width: 100%;
  }

  /* Checkout Steps */

.checkout-steps {
	display: flex;
	justify-content: space-between;
	width: 40rem;
	margin: 1rem auto;
  }
  .checkout-steps > div {
	border-top: 0.3rem #c0c0c0 solid;
	color: #c0c0c0;
	flex: 1 1;
	padding-top: 1rem;
  }
  .checkout-steps > div.active {
	border-top: 0.3rem #f08000 solid;
	color: #f08000;
  }
.Shipform{
	margin: 0 auto;
	width: 210px;
}
.Shipform label{
  display: inline-block;
  text-align: right;
  /* float: left; */
}
.Shipform input{  
	display: inline-block;
	text-align: left;
	/* float: right; */
} 