.App {
	text-align: center;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.App-logo {
	height: 80px;
}

input {
	border: 1px solid #1371DC;
}
.show-body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.App-header {
	background-color: #1371DC;
	height: 200px;
	padding: 20px;
	color: #222;
}

.App-title {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}

cite {
	font-weight: bold;
}
table {
	align-content: center;
	margin: auto;
}
td {
	padding: 10px;
}

.App-intro {
	font-size: large;
}
.cap-first-letter:first-letter {
	text-transform: capitalize;
}
.col-sm-6,
col-md-4 {
	border: 1px;
}

.hometext {
	max-width: 60%;
}
.showlink {
	padding: 0.4rem 0.8rem;
	background-color: white;
	border-radius: 3px;
	color: #1371DC;
	text-decoration: none !important;
	margin: 5px;
}

.showlink:hover {
	background-color: transparent;
	color: white;
	border: 2px solid white;
}

li {
	padding: 20px;
}

p {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div {
	text-align: center;
}

a {
	color: #1371DC;
	text-decoration: none !important;
}

ul a:hover {
	background-color: transparent;
	color: blue;
}

ul {
	list-style: none;
}

.title {
	font-weight: bold;
	color: #1371DC;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input {
		font-size: 16px;
	}
}

dt,
dl {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

dt {
	display: inline-block;
}

dd {
	display: inline;
	margin-left: 5px;
}

.navigation {
	background: #282c34;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation a:link,
.navigation a:visited {
	color: white;
	text-decoration: none;
}

.active {
	font-weight: bold;
  color: red !important;
  padding: 3px;
  margin: 5px;
}
.notactive{
  color: black !important;
  padding: 3px;
  margin: 5px;
}

.error {
	font-weight: bold;
	color: red !important;
}
.forgotPassword {
	background: none !important;
	border: none !important;
	text-decoration: underline;
	margin-left: 5px;
	color: #069;
}

.forgotPassword:hover {
	text-decoration: none;
	color: red;
}

.logoutbutton {
  font-size: .8em;
  color: black !important;
  font-family: 'Oswald', sans-serif;
	position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 1;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}